[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
jupyter = "*"
pillow = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
